<h2> <%= @event.name %> </h2>
<h3>Date: <%= @event.date %> </h3>
<h3>Venue: <a href="/venues/<%= @event.venue.id %>"> <%= @event.venue.name %>, <%= @event.venue.location %> </a> </h3>

<form action="/events/<%=@event.id%>" method="POST">
  <input type="hidden" name="_method" value="patch">


  <label>Add/Remove Performers:</label> <br>
  <%Performer.all.each do |performer|%>
    <input type="checkbox" name="event[performer_ids][]" value="<%=performer.id%>" <%='checked' if @event.performers.include?(performer)%>> <%=performer.name%></input> <br>
  <%end%>
  <br>

  <label>Or Add a New Performer:</label>
  <input type="text" name="performer[name]" placeholder="NAME"> <br>
  <br>

  <input type="submit" value="Save Changes">
</form>