<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Welcome to EventCal, <%= current_user.username.capitalize %></h1>
<h3>Click on event for more information:</h3>

<% @events.each do |event| %>
  <li> <a href="/events/<%= event.id %>"> <%= event.name %> (<%= event.date %>) </a></li>
<% end %>
<br>
<a href="/users/<%= current_user.slug %>"> <input type="submit" value="Go to My Events"> </a>
<a href="/events/new"> <input type="submit" value="Create a New Event"> </a>